<div class="boom">
  <div class="container">
    <div class="row">
      <div class="col-xs-10">
        <h1>fhirbase</h1>
        <h3>Open-Source Platform for Health-IT applications based on FHIR standard</h3>
      </div>
      <div class="col-xs-2">
        <i class="icon">L</i>
      </div>
    </div>
  </div>
</div>

<div class="stripe">
  <div class="container">
    <p class="important">
    <b>fhirbase</b> is a transparent stack of independent
    components, services and libraries
    for fast development of HealthIT
    applications.
    </p>
  </div>
</div>


<div class="container">
  <br/>
  <div class="stack row">
    <div class="layer col-xs-4">
      <h3>Front-End Applications</h3>
      <div class="cnt">
        <p>
        Front-End (SPA) applications
        could be created and distributed
        in a minutes using
        </p>

        <ul>
          <li><a href="">fhir.js</a> - generic javascript client library for FHIR-complaint REST-servers</li>
          <li><a href="">fhirbase.js</a> - npm module to publish</li>
        </ul>

        <p>
          We've prepared templates & examples for AngularJS
        </p>

        <ul>
          <li><a href="">AngularJS</a> - npm module to publish</li>
          <li><a href="">formstamp.js</a> - npm module to publish</li>
        </ul>

        <p>Start from getting started</p>
      </div>
    </div>
    <div class="layer col-xs-4">
      <h3>Application Layer</h3>
      <div class="cnt">
        <p> On application layer you could use any technology
        which could communicate with REST api or PostgreSQL.
        Possible scenarious - sending & receiving messages HL7 v2, CDA documents
        </p>

        <ul>
          <li><a href="">fhirplace</a> - thin REST-service for fhirbase</li>
          <li><a href="">reference implementations</a> - any FHIR reference implementations</li>
          <li>Integration with fhirbase with SQL connection api (JDBC etc)</li>
        </ul>

        <p>Start from getting started</p>
      </div>
    </div>
    <div class="layer col-xs-4">
      <h3>Data Layer</h3>
      <div class="cnt">
        <p>
        On data layer we have PostgreSQL database
        with full-powered SQL and ACID. Also new jsonb datatype
        with jsquery (query language).

        Analysis, reporting, optimization and complex custom queries could be implemented
        on this layer.
        </p>

        <ul>
          <li><a href="">fhirbase</a> - generic javascript client library for FHIR-complaint REST-servers</li>
          <li><a href="">jsquery</a> - npm module to publish</li>
        </ul>

        <p>Start from getting started</p>
      </div>
    </div>
  </div>
</div>

